<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Build Test</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" > </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <%- include('bootstrap') %>

</head>
<body>
    <%if(status==='log'){%>
    <div class="">
            <form action="/login" method="POST">
                <span>Username &nbsp &nbsp <input type="text" name="username" placeholder="Username" id="uname" style="margin-left:20%" required></span><br><br>
                <span>Password &nbsp &nbsp <input type="password" id="password" name="password" style="margin-left:15%" placeholder="Password" required></span><br><br>
                <input type="submit" id="loginButton" value="Login" style="width:35%;height:18%;margin-top:10% ">
            </form>
    </div>
    <%}else if(status==='loggedin'){%>
    <h1>Your Test Links</h1>
    <%for(var i=0;i<links.length;i++){%>
        <li><a href="<%= links[i].testlink %>"><%= links[i].testlink %></a></li><br><br>    
    <%}%>
    <br>
    <h3>Want to create new QUIZ?</h3>
    
    <form action="/createquiz" method="post">
        <input type="text" name="testname" id="">
        
        <input type="text" name="username" hidden id="" value="<%=username%>">
        <input type="submit" value="Create Your own Question" name="" id="">
    </form>
    <!-- <form action="/createquiz2" method="post">
        <input type="text" name="testname" id="">
        <input type="text" name="username" hidden id="" value="<%=username%>">
        <input type="submit" value="Create using given questions" name="" id="">
    </form> -->
    <%}else if(status==='quizcreation'){%>
    <br>
        <form action="/addques" method="post">
        Q.<input type="text" name="question" id=""><br><br>
        option1<input type="text" name="option1" ><br><br>
        option2<input type="text" name="option2" ><br><br>
        option3<input type="text" name="option3" ><br><br>
        option4<input type="text" name="option4" ><br><br>
        Right Answer<input type="text" name="rightanswer" placeholder="Enter Correct answer"><br><br>
        <input type="text" name="testlink" hidden value="<%=testlink%>" id=""><br><br>
        <input type="submit" value="Add to quiz">
        </form>
        <form action="/sharequiz" method="post">
            <input type="text" hidden value="<%=testlink%>" name="link" id="">
            <input type="text" hidden value="<%=username%>" name="username" id="">
            <input type="submit" value="Complete and Share the quiz!" name="" id="">
        </form>
        <%}else if(status==='quizcreation2'){%>
            <br>
            <%for(var j=0;j<questions.length;j++){ %>
                <div>
                <form action="/addques2" method="post">
                Q.<input type="text" value="<%= questions[j].question %>" name="question" id=""><br><br>
                option1<input type="text" value="<%= questions[j].option1 %>"  name="option1" ><br><br>
                option2<input type="text" value="<%= questions[j].option2 %>"  name="option2" ><br><br>
                option3<input type="text" value="<%= questions[j].option3 %>"  name="option3" ><br><br>
                option4<input type="text" value="<%= questions[j].option4 %>"  name="option4" ><br><br>
                Right Answer<input type="text" value="<%= questions[j].rightanswer %>"  name="rightanswer" placeholder="Enter Correct answer"><br><br>
                <input type="text" name="testlink" hidden value="<%=testlink%>" id=""><br><br>
                <input type="submit" value="Add to quiz">
                </form>
            </div>
            <hr>
            <%}%>
            <form action="/sharequiz" method="post">
                <input type="text" hidden value="<%=testlink%>" name="link" id="">
                <input type="text" hidden value="<%=username%>" name="username" id="">
                <input type="submit" value="Complete and Share the quiz!" name="" id="">
            </form>
            <%}else{%>
        <h1>Thank You <%=username%> Your Quiz link is : <%=link%></h1>    
    <%}%>
</body>
</html>